<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<article>
    <h1>{{ object.title }}</h1>
    <p>
    <form  action = "{% url 'blog:all' %}">
    <button> BACK TO ALL POSTS </button>
    </form>
    </p>
    {% if object.author == user %}
        <p>
            <form  action = "{% url 'blog:update' object.pk %}">
            <button> UPDATE POST </button>
            </form>
        </p>
        <p>
            <form  action ="{% url 'blog:delete' object.pk %}">
            <button> DELETE POST </button>
            </form>
        <p>
    {% endif %}
    <hr>
    <p>{{ post.content|default:"NO CONTENT" }}</p>
</article>
</body>
</html>